{% set dw_checkout_url = "https://datawarehouse.cki-project.org/kcidb/checkouts" %}
{% macro add_maintainers(maintainers) %}
  {% for maintainer in maintainers %}
    {% if maintainer.email is defined %}
      {% set slack_user = "@" + maintainer.email.split("@")[0] %}
      {% if slack_user not in notify %}
        {{- notify.append(slack_user) or "" -}}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
{% set notify = [] %}
{% set missed_tests = [] %}
{% set errored_tests = [] %}
{% set failed_tests = [] %}
{% for test in  tests %}
  {%- if test.status == "MISS" -%}
    {{ add_maintainers(test.misc.maintainers) }}
    {{- missed_tests.append(test.comment) or "" -}}
 {%- endif %}
 {%- if test.status == "ERROR" or test.status == "FAIL" -%}
   {% set test_ns = namespace(skip=False) %}
   {% if test.misc.results is not defined %}
     {% for issueoccurrence in issueoccurrences %}
       {% if test.id == issueoccurrence.test_id and issueoccurrence.is_regression == False %}
          {% set ns.skip = True %}
       {% endif %}
     {% endfor %}
   {% else %}
     {% for result in test.misc.results %}
       {%- if result.status == "FAIL" or result.status == "ERROR" -%}
         {% set result_ns = namespace(triaged=False) %}
         {% for issueoccurrence in issueoccurrences %}
           {% if result.id == issueoccurrence.testresult_id and issueoccurrence.is_regression|default(False) == False %}
              {% set result_ns.triaged = True %}
           {% endif %}
         {% endfor %}
         {% if result_ns.triaged == True %}
           {% set test_ns.skip = True %}
         {% endif %}
       {%- endif -%}
     {% endfor %}
   {% endif %}
   {%- if test_ns.skip == False -%}
     {{ add_maintainers(test.misc.maintainers) }}
     {%- if test.status == "FAIL" -%}
       {{- failed_tests.append(test.comment) or "" -}}
     {%- endif %}
     {%- if test.status == "ERROR" -%}
       {{- errored_tests.append(test.comment) or "" -}}
     {%- endif %}
   {%- endif -%}
 {%- endif -%}
{% endfor %}
{% set tested_arches = [] %}
{% for build in builds %}
  {{- tested_arches.append(build.architecture) or "" -}}
{% endfor %}
Finished testing {{ dw_checkout_url }}/{{ checkouts[0].id }} - {{ env['TEST_JOB_NAME'] }}

  NVR: {{ builds[0].misc.package_name }}-{{ builds[0].misc.package_version }}-{{ builds[0].misc.package_release }} ({{ tested_arches|join(', ') }})

{% if failed_tests|length > 0 %}
  Failed tests: {{ failed_tests|length  }}
{% endif %}
{% if errored_tests|length > 0 %}
  Errored tests: {{ errored_tests|length  }}
{% endif %}
{% if missed_tests|length > 0 %}
  Missed tests: {{ missed_tests|length  }}
{% endif %}

{% if notify|length > 0 %}
  {{ notify|join(", ") }} please review...
{% endif %}

